<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cab Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container-fluid {
            padding: 100px 0;
        }
    </style>
</head>
<body>
<div class="container-fluid bg-1 text-center">
    <h2>Travel App</h2>
    <a href="add">Book Cab</a>
    <a href="addCalculateFare">Calculate Fare</a>
</div>
</body>
</html>